<%= render 'shared/regular-banner', photo: 'gallery-test-2.jpg', title: 'Production' %>

<div class="absolute my-2 w-full">
  <%= render 'shared/barre', title: 'Poulain' %>


  <div class="brown-bg">
    <%= render 'shared/barre', title: 'Héritage' %>


  </div>
  <div class="pic-banner flex justify-center items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(<%= image_path('portrait.jpg') %>);">
    <div class="pic-banner-content">
      <h2 class="text-center">Conseils de croisement</h2>
      <p class="my-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div class="flex justify-around items-center mx-auto">
        <%= render 'shared/blue-arrow-btn', path: saillie_path, text: "Réservez une saillie", width: '170px' %>
      </div>
    </div>
  </div>
</div>
