<div class="gallery-banner flex justify-center">
  <%= link_to '#photo' do  %>
    <div class="photo flex justify-center items-center">
      <h1>Photos</h1>
    </div>
  <% end %>
  <%= link_to '#video' do  %>
    <div class="video flex justify-center items-center">
      <h1>Vidéos</h1>
    </div>
  <% end %>
</div>

<div id="infos container">
  <div class="m-12">
    <h1>Photos</h1>
    <div class="scrolling-wrapper">
      <div class="thumb">
        <a href="<%= image_path('gallery-test.png') %>" class="glightbox" data-gallery="gallery1">
            <img src="<%= image_path('gallery-test.png') %>" alt="image">
        </a>
      </div>
      <div class="thumb">
        <a href="<%= image_path('gallery-test-2.jpg') %>" class="glightbox" data-gallery="gallery1">
            <img src="<%= image_path('gallery-test-2.jpg') %>" alt="image">
        </a>
      </div>
      <div class="thumb">
        <a href="<%= image_path('portrait.jpg') %>" class="glightbox" data-gallery="gallery1">
            <img src="<%= image_path('portrait.jpg') %>" alt="image">
        </a>
      </div>
      <div class="thumb">
        <a href="<%= image_path('ugo.jpg') %>" class="glightbox" data-gallery="gallery1">
            <img src="<%= image_path('ugo.jpg') %>" alt="image">
        </a>
      </div>
      <div class="thumb">
        <a href="<%= image_path('jump.png') %>" class="glightbox" data-gallery="gallery1">
            <img src="<%= image_path('jump.png') %>" alt="image">
        </a>
      </div>
    </div>



  </div>
</div>

