<%= render 'shared/regular-banner', photo: 'gallery-test-2.jpg', title: 'Photos & Vidéos' %>

<%= render 'shared/barre', title: 'Photos' %>
<div class=" wrapper grid grid-cols-4 grid-rows-3 gap-4 mb-16">
  <div class="one img-gallery col-span-1">
    <a href="<%= image_path 'gallery-test.png' %>" class="glightbox" data-gallery="gallery1">
        <img src="<%= image_path 'gallery-test.png' %>" alt="image" class= 'object-cover object-center' >
    </a>
  </div>
  <div class="two img-gallery col-span-1 row-span-2">
    <a href="<%= image_path 'gallery-test.png' %>" class="glightbox" data-gallery="gallery1">
        <img src="<%= image_path 'gallery-test.png' %>" alt="image" class= 'object-cover object-center' >
    </a>
  </div>
  <div class="three img-gallery col-span-1">
    <a href="<%= image_path 'gallery-test.png' %>" class="glightbox" data-gallery="gallery1">
        <img src="<%= image_path 'gallery-test.png' %>" alt="image" class= 'object-cover object-center' >
    </a>
  </div>
  <div class="four img-gallery col-span-1">
    <a href="<%= image_path 'gallery-test.png' %>" class="glightbox" data-gallery="gallery1">
        <img src="<%= image_path 'gallery-test.png' %>" alt="image" class= 'object-cover object-center' >
    </a>
  </div>
  <div class="five img-gallery col-span-1">
    <a href="<%= image_path 'gallery-test.png' %>" class="glightbox" data-gallery="gallery1">
        <img src="<%= image_path 'gallery-test.png' %>" alt="image" class= 'object-cover object-center' >
    </a>
  </div>
  <div class="six img-gallery col-span-2 row-span-2">
    <a href="<%= image_path 'gallery-test.png' %>" class="glightbox" data-gallery="gallery1">
        <img src="<%= image_path 'gallery-test.png' %>" alt="image" class= 'object-cover object-center' >
    </a>
  </div>
  <div class="seven img-gallery col-span-2">
    <a href="<%= image_path 'gallery-test.png' %>" class="glightbox" data-gallery="gallery1">
        <img src="<%= image_path 'gallery-test.png' %>" alt="image" class= 'object-cover object-center' >
    </a>
  </div>
</div>

<div class="brown-bg">
  <%= render 'shared/barre', title: 'Vidéos'  %>
  <%= render 'shared/video-card-cl', title: 'Test Vidéo', description: 'Test vidéo', embeded_link: "https://www.youtube.com/embed/Yh06kBRaMF0" %>

</div>

<%= render 'shared/footer' %>
