<div class="homebanner">
  <div class="homebanner-content mx-auto pt-64">
    <div class="p-1"><h1>Ugo des Clas*Dorcamp</h1></div>
    <div class="p-1"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
  </div>

  <%= link_to '#infos' do  %>
    <div class="bounce flex flex-col items-center">
      <p class="pb-2">Découvrir</p>
      <%= image_tag "arrow-down.png" %>
    </div>
  <% end %>
</div>
<div id="infos">
  <div class="m-12">
    <h1>Titre 1</h1>
    <div class="home-card flex justify-center items-center">
      <div class="home-card-content">
        <h2 class="">Titre 2</h2>
        <p class="my-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <p class="my-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <%= render 'shared/orange-arrow-btn', path: presentation_path, text: "Présentation" %>
        <%= render 'shared/blue-arrow-btn', path: gallery_path, text: "Galerie" %>
      </div>
      <div>
        <%= image_tag "jump.png" %>
      </div>
    </div>
  </div>
  <div class="brown-bg">
    <div class="m-12">
      <p>test</p>
    </div>
  </div>
  <div class="pic-banner flex justify-center items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(<%= image_path('portrait.jpg') %>);">
    <div class="pic-banner-content">
      <h2 class="text-center">Titre 2</h2>
      <p class="my-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div class="flex justify-around items-center">
        <%= render 'shared/orange-btn', path: production_path, text: "Découvrir ses poulains" %>
        <%= render 'shared/orange-btn', path: saillie_path, text: "Réservez une saillie" %>
      </div>
    </div>


  </div>
</div>
